* {
    font-family: 'Red Hat Display', sans-serif;
}

html,
body,
main {
    height: 100%;
}

#panel-left {
    display: flex !important;
    align-items: center;
    background-color: #23997d;
}

#panel-right {
    display: flex !important;
    align-items: center;
    background-color: #F1F6F9;

}

h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 900;
}

h2 {
    color: #14274E;
    font-size: 40px;
    font-weight: 700;
}

.description {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

#panel-left .logo-container svg {
    width: 220px;
}

.btn {
    border: 0 !important;
    border-radius: 50px !important;
    background-color: #14274E !important;
    padding: 15px 40px !important;
    color: #fff !important;
    display: block;
    max-width: 82%;
    display: block;
    font-weight: 400 !important;
}

.links a {
    color: #14274E;

}

@media only screen and (max-width: 767px) {
    #panel-left {
        display: none !important;
    }
}

.custom-btn {
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.placeholder-image {
    width: 150px;
    /* Adjust the width as needed */
    height: 150px;
    /* Adjust the height as needed */
    border-radius: 50%;
    /* Makes the image round */
    background-color: #fff;
    /* Sets the background color to white */
    object-fit: cover;
    /* Ensures the image fills the container */
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    max-width: 450px;
    margin-left: -125px;
    background-color: #000;
    color: #FFF;
    font-size: 18px;
    outline: none;
    text-overflow: ellipsis;
    text-align: center;
    border-radius: 12px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-family: 'Roboto', sans-serif;
}


#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.9s, fadeout 0.9s 2.5s;
    animation: fadein 0.9s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* SnackBar Toast */


#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* SnackBar Toast */