* {
    font-family: 'Red Hat Display', sans-serif;
}

html,
body,
main {
    height: 100%;
    background-color: #000;
}

#panel-left {
    display: flex !important;
    align-items: center;
    background-color: #23997d;
}

#panel-right {
    display: flex !important;
    align-items: center;
    background-color: #F1F6F9;

}

h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 900;
}

h2 {
    color: #14274E;
    font-size: 40px;
    font-weight: 700;
}

.description {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
}

#panel-left .logo-container svg {
    width: 220px;
}

.btn {
    border: 0 !important;
    border-radius: 50px !important;
    background-color: #14274E !important;
    padding: 15px 40px !important;
    color: #fff !important;
    display: block;
    max-width: 82%;
    display: block;
    font-weight: 400 !important;
}

.links a {
    color: #14274E;

}

@media only screen and (max-width: 767px) {
    #panel-left {
        display: none !important;
    }
}

.custom-btn {
    margin-right: 10px;
    /* Adjust the margin as needed */
}

.placeholder-image {
    width: 150px;
    cursor: pointer;
    /* Adjust the width as needed */
    height: 150px;
    /* Adjust the height as needed */
    border-radius: 50%;
    /* Makes the image round */
    background-color: #fff;
    /* Sets the background color to white */
    object-fit: cover;
    /* Ensures the image fills the container */
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    max-width: 450px;
    margin-left: -125px;
    background-color: #000;
    color: #FFF;
    font-size: 18px;
    outline: none;
    text-overflow: ellipsis;
    text-align: center;
    border-radius: 12px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-family: 'Roboto', sans-serif;
}


#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.9s, fadeout 0.9s 2.5s;
    animation: fadein 0.9s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* SnackBar Toast */


#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/* SnackBar Toast */

/* Cropper Layout */

h3
{
    font-weight: 600;
}

.cropper_layout
{
    width: 35%;
    height: 82%;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 2.2em;
}

.cropper
{
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 350px;
    max-height: 350px;
    overflow: hidden;
}

.side_icon
{
    max-width: 100%;
    max-height: auto;
    padding-top: 2.1%;
    padding-bottom: 2.1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}


.material-symbols--upload {
    display: inline-block;
    width: 3.1em;
    cursor: pointer;
    height: 3.1em;
    margin-right: 8%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M11 16V7.85l-2.6 2.6L7 9l5-5l5 5l-1.4 1.45l-2.6-2.6V16zm-5 4q-.825 0-1.412-.587T4 18v-3h2v3h12v-3h2v3q0 .825-.587 1.413T18 20z'/%3E%3C/svg%3E");
}

.fluent--arrow-reset-20-filled {
    display: inline-block;
    width: 3.1em;
    cursor: pointer;
    height: 3.1em;
    margin-left: 8%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M6.03 2.47a.75.75 0 0 1 0 1.06L4.81 4.75H11A6.25 6.25 0 1 1 4.75 11a.75.75 0 0 1 1.5 0A4.75 4.75 0 1 0 11 6.25H4.81l1.22 1.22a.75.75 0 0 1-1.06 1.06l-2.5-2.5a.75.75 0 0 1 0-1.06l2.5-2.5a.75.75 0 0 1 1.06 0'/%3E%3C/svg%3E");
}

/* Cropper Layout */

 .side_icon button {
     background-color: #14274E;
     color: #fff;
     border: none;
     padding: 5px 10px;
     cursor: pointer;
 }

  /* Styling Croppie slider and background */
  .cr-slider-wrap {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 2.1em;
  }


  

/* Cropper Layout - Mobile Responsive */

@media only screen and (max-width: 992px) {
    .cropper_layout {
        width: 85%;
        /* Adjust width for smaller screens */
        height: auto;
        /* Remove fixed height */
        max-height: 85%;
        /* Set maximum height to avoid overflowing */
        top: 50%;
        /* Keep it centered vertically */
        left: 50%;
        /* Keep it centered horizontally */
        transform: translate(-50%, -50%);
        /* Adjust positioning */
        border-radius: 1em;
        padding: 2.5%;
        margin-bottom: 5%;
        /* Reduce border radius for smaller screens */
    }

    .cropper {
            margin-top: 3%;
            /* Adjust margin for smaller screens */
            margin-bottom: 3%;
            /* Adjust margin for smaller screens */
            max-width: 80%;
            /* Adjust maximum width for smaller screens */
            max-height: none;
            /* Remove maximum height */
        }

    .side_icon {
        padding-top: 1%;
        /* Adjust padding for smaller screens */
        padding-bottom: 1%;
        /* Adjust padding for smaller screens */
    }

    h3 {
        font-weight: 600;
        font-size: medium;
        margin: 6.5%;
    }

    #panel-right
    {
        padding-top: 5.2%;
        padding-bottom: 5.2%;
    }
}